.sessions{
    max-width: 320px;
    display: block;
    margin: 0 auto 28px;
}
.sessions-list-item-svg{
    width: 24px;
    height: 24px;
}
.sessions-cont{
    padding: 0 16px;
}
.sessions-list-item{
    padding: 12px 4px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(180, 245, 255, 1);
    border-radius: 16px;
}
.session_link{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sessions-list-item-text{
font-size: 12px;
font-weight: 400;
line-height: 1.4;
}
.sessions-list-item-title{
    border: none;
    gap: 13px;
    background-color: rgba(244, 245, 249, 1);
}
.unchecked{
    border: 1px solid rgba(254, 194, 4, 1);
}
.sessions-list-item + .sessions-list-item{
    margin-top: 4px;
}
@media screen and(min-width:768px) {
    .sessions{
        max-width: 768px;
        margin-bottom: 32px;
    }
    .sessions-cont{
        padding: 0 24px;
    }
    .sessions-list-item{
        padding: 12px 8px;
        gap: 100px;
    }
    .session_link{
        gap: 100px;
    }
    .sessions-list-item-text{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
    }
    .sessions-list-item-svg{
            width: 44px;
            height: 44px;
    }
    .sessions-list-item-title{
            gap: 73px;
    }
}
@media screen and(min-width:1440px) {
    .sessions{
        max-width: 940px;
        margin-bottom: 40px;
    }
    .sessions-cont{
        padding: 0 20px;
    }
    .sessions-list-item{
        padding: 12px 12px;
        gap: 149px;
    }
    .session_link{
        gap: 149px;
    }
    .sessions-list-item-svg{
            width: 44px;
            height: 44px;
    }
    .sessions-list-item-title{
            gap: 122px;
    }
}