.footer{
    padding-top: 331px;

}
.footer_cont{
    max-width: 1920px;
    padding: 50px 240px;
    display: flex;
    align-items:center;
    gap: 960px; 
    background-color: black;
}
.footer_logos{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
.footer_logos_main{
    width: 210px;
    height: 30px;
}
.footer_logos_text{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 20px;
}
.footer_contact_tg_svg{
    width: 20px;
    height: 16px;
}
.footer_contact_mail_svg{
    width: 20px;
    height: 16px;
}
.footer_contact{
    display: flex;
    gap: 15px;
}
.footer_contact_tg{
    border: none;
    background-color: rgba(0, 136, 204, 1);
    padding: 15px;
    
}
.footer_contact_mail{
    border: none;
    background-color:rgba(191, 69, 0, 1);
    padding: 15px;
}