.opinion_cont{
    max-width: 1920px;
    padding: 0 290px;

}
.opinion{
    position: relative;
    
}
.opinion_lines{
    position: absolute;
    top: -620px;
    overflow: hidden;
    pointer-events: none;

}
.opinion_bg{
    position: absolute;
    top: -400px;
    pointer-events: none;
}
.opinion_text{
    font-size: 24px;
    display: inline-block;
    margin: 0 619px;
    background-image: linear-gradient(90deg, #FEA339, #EB2828, #F53261, #F52DED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.opinion_title{
    color: white;
    font-size: 64px;
    margin: 40px 0 30px;
    text-align: center;
}
.opinion_title span{
    color: red;
}
.opinion_disc{
    color: rgba(170, 170, 170, 1);
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    width: 790px;
}
.opinion_infoCount{
    display: flex;
    text-align: center;
    gap: 200px;
    width: 941px;
    margin: 50px auto 0 ;
}
.opinion_infoCount_item_count{
    font-size: 64px;
    text-align: left;color: rgba(235, 40, 40, 1);
    font-weight: 700;
}
.opinion_infoCount_item_count span{
 color: rgba(255, 255, 255, 1);
}
.opinion_infoCount_item_text{
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 20px;
    width: 190px;
}
.opinion_infoList{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.opinion_infoList_item{
    width: 800px;
}
.opinion_infoList_item_text{
    color: rgba(255, 255, 255, 1);
    margin-bottom: 70px;
    font-size: 34px;
    text-align: left;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.fuckit{
    width: 790px;
    margin: 100px auto 0 ;
}
.test{
    padding: 50px;
    border: 5px solid rgba(235, 40, 40, 0.3);
    box-shadow: 0px 0px 80px 0px rgba(254, 163, 57, 0.1) inset;
}
.opinion_infoList_item_block{
    display: flex;
    margin-top: 70px;
    gap: 24px;
}
.opinion_infoList_item_block_icon{
    width: 64px;
    height: 64px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 64px;
}
.opinion_infoList_item_block_brand{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
.opinion_infoList_item_block_info{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 20px;
}