<section class="faq" id="faq">
  <img src="pic/faq-bg.png" alt=""  class="faq_bg">
  <div class="faq_cont">
    <div class="faq_info_block">
      <p class="faq_info_block_text">FAQ</p>
      <h2 class="faq_info_block_title">
        Варто ознайомитись перед роботою<span>.</span>
      </h2>
      <div class="faq_info_block_disc">
        <p class="faq_info_block_disc_text">
          Тут зібрані найчастіші питання які виникали у тих, з ким ми
          співпрацюємо та скоріше за все виникнуть у вас під час ознайомлення
          проектом
        </p>
        <p class="faq_info_block_disc_text">
          Якщо вашого питання немає у списку, тоді пишіть нам, ми вам з радістю
          допоможемо.
        </p>
      </div>
    </div>
    <ul class="faq_list" data-spollers>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
      <li class="faq_list_item">
        <div class="faq_list_item_quest">
          <svg class="faq_list_item_svg">
            <use href="pic/open.svg#open"></use>
          </svg>
          <p class="faq_list_item_text">
            Чи можна використовувати ваш бот для організації?
          </p>
        </div>
        <p class="faq_list_item_answer">Звісно можна, чом би і ні</p>
      </li>
    </ul>
  </div>
</section>
