<footer class="footer">
    <div class="footer_cont">
        <div class="footer_logos">
            <svg class="footer_logos_main">
                <use href="pic/main-logo.svg#main-logo"></use>
            </svg>
            <p class="footer_logos_text">by</p>
            <img src="pic/efx.png" alt="" class="footer_logos_main_efx" width="101" height="30">
        </div>
        <div class="footer_contact">
            <button class="footer_contact_tg">
                <svg class="footer_contact_tg_svg">
                    <use href="pic/tg-icon.svg#tg"></use>
                </svg>
            </button>
            <button class="footer_contact_mail">
                <svg class="footer_contact_mail_svg">
                    <use href="pic/mail.svg#mail"></use>
                </svg>
            </button>
        </div>
    </div>
</footer>