<section class="opinion page__section" id="counts">
  <img src="pic/feedback-lines.png" alt=""  class="opinion_lines">
  <img src="pic/feedback-bg.png" alt=""  class="opinion_bg">
  <div class="opinion_cont">
    <p class="opinion_text">ВІДГУКИ</p>
    <h2 class="opinion_title">Ми хочемо вас чути і бачити<span>.</span></h2>
    <p class="opinion_disc">
      Пишіть нам при будь якій потребі, ми будемо вдячні за будь який відгук та
      допоможемо у вирішенні більшості проблем
    </p>
    <ul class="opinion_infoCount">
      <li class="opinion_infoCount_item">
        <p class="opinion_infoCount_item_count timer" ><span class="page-counter" data-digits-counter >3</span></p>
        <p class="opinion_infoCount_item_text">тури по Україні</p>
      </li>
      <li class="opinion_infoCount_item">
        <p class="opinion_infoCount_item_count" ><span class="page-counter" data-digits-counter >20</span>+</p>
        <p class="opinion_infoCount_item_text">завершених івентів</p>
      </li>
      <li class="opinion_infoCount_item">
        <p class="opinion_infoCount_item_count"><span class="page-counter" data-digits-counter >2000</span>+</p>
        <p class="opinion_infoCount_item_text">користувачів</p>
      </li>
    </ul>
    <!-- <ul class="opinion_infoList">
      <li class="opinion_infoList_item">
        <i class="opinion_infoList_item_text"
          >“База, це просто соковитий кавун зі світу інструментів для
          організаторів”</i>
          <div class="opinion_infoList_item_block">
            <div class="opinion_infoList_item_block_icon"></div>
            <div>
                <p class="opinion_infoList_item_block_brand">Band name</p>
                <p class="opinion_infoList_item_block_info">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
      </li>
      <li class="opinion_infoList_item">
        <i class="opinion_infoList_item_text"
          >“База, це просто соковитий кавун зі світу інструментів для
          організаторів”</i>
          <div class="opinion_infoList_item_block">
            <div class="opinion_infoList_item_block_icon"></div>
            <div>
                <p class="opinion_infoList_item_block_brand">Band name</p>
                <p class="opinion_infoList_item_block_info">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
      </li>
      <li class="opinion_infoList_item">
        <i class="opinion_infoList_item_text"
          >“База, це просто соковитий кавун зі світу інструментів для
          організаторів”</i>
          <div class="opinion_infoList_item_block">
            <div class="opinion_infoList_item_block_icon"></div>
            <div>
                <p class="opinion_infoList_item_block_brand">Band name</p>
                <p class="opinion_infoList_item_block_info">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
      </li>
    </ul> -->
    <div class="fuckit">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide opinion_infoList_item">
                <div class="test">
                  <i class="opinion_infoList_item_text"
                    >“База, це просто соковитий кавун зі світу інструментів для
                    організаторів”</i
                  >
                  <div class="opinion_infoList_item_block">
                    <div class="opinion_infoList_item_block_icon"></div>
                    <div>
                      <p class="opinion_infoList_item_block_brand">Band name</p>
                      <p class="opinion_infoList_item_block_info">
                        Музичний гурт, pre-beta користувач
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          <div class="swiper-slide opinion_infoList_item">
            <div class="test">
              <i class="opinion_infoList_item_text"
                >“База, це просто соковитий кавун зі світу інструментів для
                організаторів”</i
              >
              <div class="opinion_infoList_item_block">
                <div class="opinion_infoList_item_block_icon"></div>
                <div>
                  <p class="opinion_infoList_item_block_brand">Band name</p>
                  <p class="opinion_infoList_item_block_info">
                    Музичний гурт, pre-beta користувач
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide opinion_infoList_item">
            <div class="test">
              <i class="opinion_infoList_item_text"
                >“База, це просто соковитий кавун зі світу інструментів для
                організаторів”</i
              >
              <div class="opinion_infoList_item_block">
                <div class="opinion_infoList_item_block_icon"></div>
                <div>
                  <p class="opinion_infoList_item_block_brand">Band name</p>
                  <p class="opinion_infoList_item_block_info">
                    Музичний гурт, pre-beta користувач
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
