<section class="what" id="what">
  <img src="pic/features-bg.png" alt="" class="what_bg">
  <div class="what_cont">
    <p class="what_text">ПЕРЕВАГИ</p>
    <h2 class="what_title">Робимо лише необхідне<span>.</span></h2>
    <p class="what_disc">
      Приєднуйтесь до бета тестування, чим більше фідбеку - тим швидше нам стане
      зрозуміло що потрібно організаторам та звичайним користувачам
    </p>
    <ul class="what_list">
      <li class="what_list_item">
        <p class="what_list_item_emoji">🎊</p>
        <h3 class="what_list_item_title">Керування подіями</h3>
        <p class="what_list_item_disc">
          Легко організовуйте концерти, тури, мітапи, збори чи навіть навчальні
          процеси. За усім іншим ми доглянемо.
        </p>
      </li>
      <li class="what_list_item">
        <svg class="what_list_item_mono">
            <use href="pic/mono.svg#mono"></use>
        </svg>
        <h3 class="what_list_item_title">Інтеграція з “mono” банками</h3>
        <p class="what_list_item_disc">
          Для благодійних концертів та турів ви можете підключити до 10 банок
          щоб збирати гроші на певну ціль без перешкод.
        </p>
      </li>
      <li class="what_list_item">
        <p class="what_list_item_emoji">💬</p>
        <h3 class="what_list_item_title">Комунікація з аудиторією</h3>
        <p class="what_list_item_disc">
          Ви можете за декілька кліків реалізувати розсилку кожному користувачу
          або окремо обраній групі.
        </p>
      </li>
      <li class="what_list_item">
        <p class="what_list_item_emoji">🎁</p>
        <h3 class="what_list_item_title">Даруйте квитки</h3>
        <p class="what_list_item_disc">
          У нас є зручний інструмент для організаторів, які хочуть провести
          Giveaway або просто комусь подарувати квиток.
        </p>
      </li>
      <li class="what_list_item">
        <p class="what_list_item_emoji">❤️</p>
        <h3 class="what_list_item_title">Сюрприз для орагнізаторів</h3>
        <p class="what_list_item_disc">
          Після завершеного туру організатори отримують детальну статистику та
          інфографіку щодо їх виступів.
        </p>
      </li>
    </ul>
    <i class="what_finaltext">згодом буде більше...</i>
  </div>
</section>
