<section class="about" id="about">
  <img
    src="pic/about-bg.png"
    alt=""
    class="about-bg"
  />
  <img src="pic/lines.png" alt="" class="about_lines">
  <div class="about_cont">
    <div class="about_proj">
      <p class="about_proj_text">ПРО ПРОЕКТ</p>
      <h2 class="about_proj_title">
        Нове слово у проведенні івентів<span>.</span>
      </h2>
      <div class="about_proj_disc">
        <p class="about_proj_disc_text">
          <span>Gligle</span> - це ковток свіжого повітря для організаторів
          подій, який призначений для спрощення та оптимізації багатьох аспектів
          їхньої роботи.
        </p>
        <p class="about_proj_disc_text">
          Ми прагнемо розвиватись разом з вами, постійно оновлюючи та покращуючи
          продукт, додаючи лише найбільш корисні та актуальні функції для вас.
        </p>
      </div>
    </div>
    <div class="about_proj_cit">
      <i class="about_proj_cit_text">
        “Сюди треба придумати якусь пафосну цитатку як ми з маленького проекту
        робимо щось більше”
      </i>
      <div class="about_proj_cit_autor">
        <p class="about_proj_cit_autor_info">
          Олексій Мошура <span>Засновник проекту</span>
        </p>
        <img src="pic/per-photo.png" alt="" width="64" height="64" />
      </div>
    </div>
  </div>
</section>
