<header>
  <div class="header_nav_cont ">
    <div class="header_nav">
      <svg class="main-logo">
        <use href="pic/main-logo.svg#main-logo"></use>
      </svg>
      <nav>
        <ul class="header_nav_menu">
         <li class="header_nav_menu_item"><a href="#about">ПРО ПРОЕКТ</a></li>
         <li class="header_nav_menu_item"><a href="#what">ПЕРЕВАГИ</a></li>
         <li class="header_nav_menu_item"><a href="#counts">ВІДГУКИ</a></li>
         <li class="header_nav_menu_item"><a href="#faq">FAQ</a></li>
         <li class="header_nav_menu_item"><a href="#contacts">КОНТАКТИ</a></li>
        </ul>
      </nav>
      <button class="header_nav_btn" type="button">ОТРИМАТИ ДОСТУП</button>
    </div>
  </div>    
</header>
